div {
    text-align: center;
    font-size: 1em;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 50px;
    width: 3em;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  pre {
      padding-top: 50px;
      font-size: 2em;
  }